@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --title-font-size: 3rem;
    --sub-title-font-size: 1.5rem;
    --base-padding: 4rem 6rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

/* Navbar Header */
.navbar{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    position: absolute;
    z-index: 2;
}

.navbar__brand{
    width: 150px;
    height: 100%;
}

.navbar__netflix__logo{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.narbar__list{
    display: flex;
    gap: 25px;
    align-items: center;
}

.dropdown__container{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid white;
    padding: 8px 20px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

.language__dropdown{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.languague__dropdown:focus{
    outline:none
}

.signin-btn{
    background-color: rgba(229,9,20);
    border: 1px solid rgba(229,9,20);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

/* main > section netflix-bg */
.netflix-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80vh;
    background-image: url('./src/images/netflix-bg.jpg');
    background-size: cover;
}

.netflix-bg__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.netflix-card{
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap :20px;
    word-break: break-word;
}

.netflix-card__title{
    font-size: var(--title-font-size);
    font-weight: 700;
}

.netflix-card__sub-title,
.netflix-card__description{
    font-size: var(--sub-title-font-size);
    font-weight: 400;
}

.email-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 3;
}

.form-container{
    background-color: transparent;
}

.email-input{
    color: white;
    border: 0.5px solid #ccc;
    padding: 15px 40px 15px 20px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
}

.email-input:focus {
    outline: none;
    border: 0.5px solid white;
}

.email-input::placeholder {
    color: #ccc;
    font-size: 18px;
}

.primary-button {
    background-color: rgba(229,9,20);
    border: 1px solid rgba(229,9,20);
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
}

/* main > section:feature */
/* feature 01 */
.feature-content {
    border-top: 8px solid #222222;
}

.feature {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: var(--base-padding);
}

.feature-details {
    flex-basis: 50%;
}

.feature-details__heading {
    font-size: var(--title-font-size);
    font-weight: 700;
    margin: 10px 0;
}

.feature-details__sub-heading {
    font-size: var(--sub-title-font-size);
    font-weight: 400;
}

.feature-image-container {
    flex-basis: 50%;
    position: relative;
}

.feature-image {
    width: 100%;
}

.feature-01-bg-video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    top: 20%;
    left: 13%;
    z-index: -1;
}

.feature-bg-video {
    width: 100%;
}

/* feature 02 */
.feature__02{
    flex-direction: row-reverse;
}

.feature-02-poster-container{
    position: absolute;
    width: 100%;
    max-width: 24rem;
    min-width: 15rem;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    background-color: black;
    border: 2px solid rgba(255,255,255,0.25);
    border-radius: 10px;
    padding: 10px 20px;
    gap: 15px;
}

.poster-container{
    width: 20%;
}

.poster{
    width: 100%;
    height: 100%;
}

.poster-details{
    width: 60%;
}

.poster-details > h4{
    font-size: 13px;
    font-weight: 500;
}

.poster-details > h6{
    font-size: 12px;
    font-weight: 400;
    color: rgb(63 , 63, 246);
}

.download-gif-container{
    width: 20%;
    height: 100%;
}

.gif{
    width: 100%;
    height: 100%;
}

/* feature 03 */
.feature-03-bg-video-container{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 63%;
    min-width: 47%;
    top: 9%;
    left: 19%;  
    z-index: -1;
}

/* feature 04 */
.feature__04{
    flex-direction: row-reverse;
}

/* Faq section */

.faq-list-container{
    border-top: 8px solid #222222;
    padding: var(--base-padding);
}

.faq-heading{
    font-size: var(--title-font-size);
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.faq-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.faq-question{
    max-width: 80%;
}

.faq-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: var(--sub-title-font-size);
    font-weight: 400;
    background-color: rgba(45,45,45,1);
    border: 1px solid rgba(45,45,45,1);
    color: white;
}

.faq-title:hover{
    background-color: rgba(78, 78, 78,1);
    cursor: pointer;
}

.faq-answer{
    max-height: 0;
    overflow: hidden; 
    background-color: #303030;
    border-top: 1px solid black;
    font-size: 1.2rem;
    transition: max-height 0.5s ease-in-out;
}

.faq-answer > p{
    margin: 1.5rem;
}

.faq-email{
    text-align: center;
}

.faq-email > h3{
    font-size: var(--sub-title-font-size);
    font-weight: 400;
    margin: 4rem 0 2rem 0;
}

/* footer section */
footer{
    border-top: 8px solid #333;
    padding: var(--base-padding);
    color: rgba(255, 255, 255, 0.7);
}

.footer-content{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content__row-01 > h4{
    font-size: 16px;
    font-weight: 500;
    padding-top: 25px;
}

.footer-content__row-02 > ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    list-style-type: none;
    line-height: 1.4rem;
    padding: 15px 0;
}

.footer-content__row-02 > ul > li > a{
    color: rgba(255, 255, 255, 0.7);
}

.footer-content__row-02 > ul > li > a:hover{
    color: white;
}

.footer-content__row-03 > .dropdown__container{
    max-width: fit-content;
    border: 1px solid white;
    color: white;
}

.footer-content__row-03 > .dropdown__container > .language__dropdown{
    color: white;
}

@media screen and (max-width: 1200px){
    .feature{
        max-width: 100%;
    }
}

@media screen and (max-width: 992px){
    .netflix-card{
        padding: 0 6rem;
    }
    .feature-02-poster-container{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    :root{
        --title-font-size: 0.2rem;
        --sub-title-font-size: 1.1rem;
        --base-padding: 2rem;
    }
    .feature{
        flex-direction: column;
        text-align: center;
    }
    .netflix-card{
        padding: 0 2rem;
    }
    .faq-answer{
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px){
    .navbar{
        padding: 40px;
    }
}

@media screen and (max-width: 480px){
    :root{
        --base-padding: 1rem;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /* .language__dropdown{
        width: 0.06rem !important;
        padding-right: 1.75rem !important;
    } */
    .netflix-card{
        margin-top: 150px;
    }

    .email-form{
        flex-direction: column;
    }
    
    .primary-button{
        font-size: 1rem;
    }
}
